// IMPORT SECTION
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid

@import 'node_modules/owl.carousel/dist/assets/owl.carousel.min';
@import 'node_modules/owl.carousel/dist/assets/owl.theme.default.min';


@mixin outline($color){
	outline:0px solid $color ;
}

$default-font-li-i: 'Ubuntulii', Helvetica,Arial sans-serif;
$default-font-reg: 'Ubuntureg', Helvetica,Arial sans-serif;
$default-font-li: 'Ubuntuli', Helvetica,Arial sans-serif;



$base: #000;
$accent: #e8a09f;
$gray: #7a797e;